[user]
    name = crypticani
    email = crypticani@protonmail.com
[core]
    editor = nvim
    excludesfile = ~/.gitignore_global
[init]
    defaultBranch = main
[pull]
    rebase = false
[color]
    ui = auto
[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    unstage = reset HEAD --
    last = log -1 HEAD
    logline = log --graph --oneline --decorate --all
